In [1]:
import pandas as pd
# Load the data
data = pd.read_excel('All_States_AssemblyElect.xlsx')  # Adjust this to your specific dataset path

In [2]:
data

,State_Name,Assembly_No,Constituency_No,Year,month,DelimID,Poll_No,Position,educdum,Candidate,...,No_Terms,Turncoat,Incumbent,Recontest,MyNeta_education,TCPD_Prof_Main,TCPD_Prof_Main_Desc,TCPD_Prof_Second,TCPD_Prof_Second_Desc,Election_Type
0,Andhra_Pradesh,13,1,2009,5.0,4.0,0,1,0,KAVETI SAMMAIAH,...,1,False,False,False,5th Pass,Other,NaN,NaN,NaN,State Assembly Election (AE)
1,Andhra_Pradesh,13,1,2009,5.0,4.0,0,2,0,KONERU KONAPPA,...,0,False,False,False,12th Pass,Other,NaN,NaN,NaN,State Assembly Election (AE)
2,Andhra_Pradesh,13,1,2010,5.0,4.0,1,1,0,Kaveti Sammaiah,...,1,False,True,False,NaN,NaN,NaN,NaN,NaN,State Assembly Election (AE)
3,Andhra_Pradesh,13,1,2010,5.0,4.0,1,2,0,Allola Indrakaran Reddy,...,1,False,False,False,NaN,NaN,NaN,NaN,NaN,State Assembly Election (AE)
4,Andhra_Pradesh,13,2,2009,5.0,4.0,0,1,1,NALLALA ODELU,...,1,False,False,False,Graduate,Other,NaN,NaN,NaN,State Assembly Election (AE)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12940,Telangana,0,117,2009,NaN,NaN,0,2,0,VANAMA VENKATESWARA RAO,...,0,False,False,False,NaN,NaN,NaN,NaN,NaN,State Assembly Election (AE)
12941,Telangana,0,118,2009,NaN,NaN,0,1,0,MITHRASENA VAGGELA,...,1,False,False,False,NaN,NaN,NaN,NaN,NaN,State Assembly Election (AE)
12942,Telangana,0,118,2009,NaN,NaN,0,2,0,PAYAM VENKAIAH,...,0,False,False,False,NaN,NaN,NaN,NaN,NaN,State Assembly Election (AE)
12943,Telangana,0,119,2009,NaN,NaN,0,1,0,KUNJA SATYAVATHI,...,1,False,False,False,NaN,NaN,NaN,NaN,NaN,State Assembly Election (AE)
12944,Telangana,0,119,2009,NaN,NaN,0,2,0,SUNNAM RAJAIAH,...,0,False,False,False,NaN,NaN,NaN,NaN,NaN,State Assembly Election (AE)

In [4]:
data_2009 = data[data['Year']== 2008]
data_2009 = data_2009[(data_2009['State_Name']== 'Madhya_Pradesh')]
data_2009

,State_Name,Assembly_No,Constituency_No,Year,month,DelimID,Poll_No,Position,educdum,Candidate,...,No_Terms,Turncoat,Incumbent,Recontest,MyNeta_education,TCPD_Prof_Main,TCPD_Prof_Main_Desc,TCPD_Prof_Second,TCPD_Prof_Second_Desc,Election_Type
1900,Madhya_Pradesh,13,1,2008,12.0,4.0,0,1,1,BRIJRAJ SINGH,...,2,False,False,False,Graduate Professional,Other,NaN,NaN,NaN,State Assembly Election (AE)
1901,Madhya_Pradesh,13,1,2008,12.0,4.0,0,2,1,DURGALAL VIJAY,...,1,False,True,True,Post Graduate,Other,NaN,NaN,NaN,State Assembly Election (AE)
1902,Madhya_Pradesh,13,2,2008,12.0,4.0,0,1,0,RAMNIWAS RAWAT,...,2,False,False,False,NaN,NaN,NaN,NaN,NaN,State Assembly Election (AE)
1903,Madhya_Pradesh,13,2,2008,12.0,4.0,0,2,0,SITARAM ADIWASI,...,0,False,False,True,Literate,Other,NaN,NaN,NaN,State Assembly Election (AE)
1904,Madhya_Pradesh,13,3,2008,12.0,4.0,0,1,1,SURESH CHOWDHARY,...,2,False,False,True,Graduate,Other,NaN,NaN,NaN,State Assembly Election (AE)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2367,Madhya_Pradesh,13,228,2008,12.0,4.0,0,2,1,ANIRUDDHA RAMESHAWAR (MADHAV MARU),...,0,False,False,False,Graduate Professional,Other,NaN,NaN,NaN,State Assembly Election (AE)
2368,Madhya_Pradesh,13,229,2008,12.0,4.0,0,1,1,KHUMAN SINGH SHIVAJI,...,3,False,False,False,Post Graduate,Other,NaN,NaN,NaN,State Assembly Election (AE)
2369,Madhya_Pradesh,13,229,2008,12.0,4.0,0,2,1,RAGHURAJ SINGH CHAURDIYA,...,0,False,False,False,Graduate,Other,NaN,NaN,NaN,State Assembly Election (AE)
2370,Madhya_Pradesh,13,230,2008,12.0,4.0,0,1,1,OMPRAKASH VIRENDRA KUMAR SAKLECHA,...,2,False,True,True,Graduate,Other,NaN,NaN,NaN,State Assembly Election (AE)
2371,Madhya_Pradesh,13,230,2008,12.0,4.0,0,2,1,RAJKUMAR RAMESHCHANDRA AHIR (RAJU),...,0,False,False,False,Post Graduate,Other,NaN,NaN,NaN,State Assembly Election (AE)

In [5]:
winners_2009 = data_2009[data_2009['Position'] == 1]
runners_up_2009 = data_2009[data_2009['Position'] == 2]
# Step 3: Merge Winners and Runners-Up
merged_results_2009 = winners_2009.merge(
    runners_up_2009,
    on=['District_Name', 'Constituency_No', 'State_Name'],
    suffixes=('_winner', '_runnerup')
)

merged_results_2009['adjusted_margin'] = merged_results_2009['Margin_Percentage_winner']
merged_results_2009.loc[
    merged_results_2009['educdum_winner'] == 0, 'adjusted_margin'
] *= -1

In [6]:
# Step 4: Identify Grad-NonGrad Combinations in 2009
grad_non_grad_combination_2009 = (
    (merged_results_2009['educdum_winner'] == 1) & (merged_results_2009['educdum_runnerup'] == 0)
) | (
    (merged_results_2009['educdum_winner'] == 0) & (merged_results_2009['educdum_runnerup'] == 1)
)

In [7]:
# Step 5: Select Constituencies with Grad-NonGrad Combinations in 2009
grad_non_grad_constituencies_2009 = merged_results_2009[grad_non_grad_combination_2009]

In [8]:
pd.set_option('display.max_columns', 100)
grad_non_grad_constituencies_2009.to_excel('grad_non_grad_2008_new.xlsx', index=False)

In [9]:
grad_non_grad_constituencies_2009['abs_adjusted_margin'] = abs(grad_non_grad_constituencies_2009['adjusted_margin'])
# Group by district and sort by absolute value of the adjusted margin
sorted_results = grad_non_grad_constituencies_2009.groupby(['District_Name', 'State_Name']).apply(
    lambda group: group.sort_values(by='abs_adjusted_margin', ascending=True)
)

# Reset multi-index to get a clean DataFrame
sorted_results.reset_index(drop=True, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_8148\400688751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grad_non_grad_constituencies_2009['abs_adjusted_margin'] = abs(grad_non_grad_constituencies_2009['adjusted_margin'])

### margin variable

In [10]:
df_1 = pd.read_excel('grad_non_grad_2008_new.xlsx')
#df_2 = pd.read_excel('grad_non_grad_2009.xlsx',sheet_name='reqd') # Adjust this to your specific dataset path

In [11]:
grouped_values = df_1.groupby(['State_Name', 'District_Name'])['adjusted_margin'].apply(list).reset_index()
# Sort the values by absolute values in descending order within each group
grouped_values['adjusted_margin'] = grouped_values['adjusted_margin'].apply(lambda x: sorted(x, key=lambda v: abs(v), reverse=True))

grouped_values

        State_Name District_Name                    adjusted_margin
0   Madhya_Pradesh     ALIRAJPUR                            [-5.73]
1   Madhya_Pradesh       ANUPPUR                            [-2.12]
2   Madhya_Pradesh   ASHOK NAGAR                   [-24.16, -20.79]
3   Madhya_Pradesh      BALAGHAT        [-12.28, 6.54, 6.04, -1.98]
4   Madhya_Pradesh       BARWANI                     [-13.01, 3.13]
5   Madhya_Pradesh         BETUL                    [-29.99, -3.65]
6   Madhya_Pradesh         BHIND                       [8.89, -1.7]
7   Madhya_Pradesh        BHOPAL                             [15.5]
8   Madhya_Pradesh    CHHATARPUR          [8.88, 6.7, -2.93, -1.05]
9   Madhya_Pradesh    CHHINDWARA    [-7.05, 3.7, 2.58, -2.49, 0.08]
10  Madhya_Pradesh         DAMOH         [-10.48, 1.45, 0.56, 0.11]
11  Madhya_Pradesh         DATIA                    [-21.87, -3.54]
12  Madhya_Pradesh         DEWAS                              [3.5]
13  Madhya_Pradesh          DHAR        [13.97, -10.46, -7.09, 0.0]
14  Madhya_Pradesh       DINDORI                            [23.55]
15  Madhya_Pradesh          GUNA                             [8.38]
16  Madhya_Pradesh       GWALIOR              [-9.59, -8.52, -1.67]
17  Madhya_Pradesh   HOSHANGABAD                             [6.48]
18  Madhya_Pradesh        INDORE        [33.47, -27.28, 6.86, -3.8]
19  Madhya_Pradesh      JABALPUR  [16.14, 15.42, 9.31, -8.94, 6.18]
20  Madhya_Pradesh        JHABUA                     [20.13, -7.58]
21  Madhya_Pradesh         KATNI                      [18.91, 1.37]
22  Madhya_Pradesh       KHANDWA                     [25.44, 20.65]
23  Madhya_Pradesh      KHARGONE           [-22.04, -14.99, -14.71]
24  Madhya_Pradesh        MANDLA                      [-6.39, 2.61]
25  Madhya_Pradesh      MANDSAUR                             [2.61]
26  Madhya_Pradesh        MORENA                      [8.15, -7.39]
27  Madhya_Pradesh   NARSINGHPUR         [-18.69, 6.78, 6.32, 5.56]
28  Madhya_Pradesh       NEEMUCH                            [-4.99]
29  Madhya_Pradesh         PANNA                             [-4.9]
30  Madhya_Pradesh        RAISEN               [13.81, 1.25, -0.24]
31  Madhya_Pradesh       RAJGARH                           [-13.52]
32  Madhya_Pradesh        RATLAM                             [6.41]
33  Madhya_Pradesh          REWA               [-6.9, -5.43, -3.68]
34  Madhya_Pradesh         SAGAR              [-16.64, 11.38, -1.7]
35  Madhya_Pradesh         SATNA         [-10.74, 8.85, 5.87, 0.76]
36  Madhya_Pradesh        SEHORE                    [-16.09, -12.4]
37  Madhya_Pradesh         SEONI               [-11.64, 4.04, 3.27]
38  Madhya_Pradesh       SHAHDOL                           [-10.14]
39  Madhya_Pradesh      SHAJAPUR                            [-9.17]
40  Madhya_Pradesh      SHIVPURI                             [0.21]
41  Madhya_Pradesh         SIDHI                            [34.27]
42  Madhya_Pradesh     SINGRAULI                    [-34.32, 25.41]
43  Madhya_Pradesh     TIKAMGARH                [5.26, -0.99, 0.94]
44  Madhya_Pradesh        UJJAIN                        [-8.7, 5.5]
45  Madhya_Pradesh        UMARIA                    [15.17, -14.39]
46  Madhya_Pradesh       VIDISHA               [18.86, 11.6, 10.14]

In [12]:
#result_df = df_2.copy()

unique_districts = df_1['District_Name'].unique()
result_df = pd.DataFrame({'District_Name': unique_districts})



max_columns = 20
for i in range(max_columns):
    result_df[f'adjusted_margin_{i + 1}'] = None  # Create empty columns for the values
# Map state information to the result_df based on districts
district_to_state = df_1[['State_Name', 'District_Name']].drop_duplicates().set_index('District_Name')['State_Name']
#district_to_state['PAKAUR']

In [13]:
# Fill the result_df with the state and transposed values
for _, row in grouped_values.iterrows():
    state = row['State_Name']
    district = row['District_Name']
    values = row['adjusted_margin']

    # Ensure the district is in the second table
    if district in result_df['District_Name'].values:
        # Insert state information
        result_df.loc[result_df['District_Name'] == district, 'State_Name'] = state
        
        # Insert transposed values into the appropriate columns
        for i, value in enumerate(values):
            result_df.loc[result_df['District_Name'] == district, f'adjusted_margin_{i + 1}'] = value

In [14]:

result_df.to_excel('margin_value_2008_new.xlsx', index=False)